html, body{
    font-family: 'Kanit', sans-serif;
    height: 100%;
    background: #0A3871;
    width: 100%;
}

header{
    background: #FFFFFF;
    padding: 20px 5%;
    height: 5%;
    width: 90%;
}

main{
    height: 90%;
}

.encabezado{
    width: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: inline;
}

.encabezado h2{
    font-size: 3em;
    color: #0A3871;
    font-weight: bold;
    text-align: center;
}

.logo{
    float: left;
    margin: 0 1em;
}

/*CSS para cajas de texto*/

.principal{
    text-align: center;
    padding: 5% 0 3% 0;
    width: 100%;
    height: 65%;
}

.principal div{
    background: #FFFFFF;
    margin:  0 7.5%;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
    width: calc(35% - 2px);
    height: 100%;
}

textarea{
    font-size: 3.5vh;
    text-align: justify;
    margin: 25px calc(5% - 15px) 25px 5%;
    padding: 0 15px 0 0;
    border: none;
    background-color: transparent;
    resize: none;
    width: 90%;
    height: calc(100% - 50px);
}

textarea:focus{
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #0A3871;
}
textarea:-ms-input-placeholder {
    color: #0A3871;
}

textarea::-webkit-scrollbar{
    width: 6px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: #609ED4;
    outline: none;
    border: none;
    border-radius: 3px;
}

#resultado{
    width: 100%;
    margin: 0;
    height: 100%;
    display: none;
}
#resultado textarea{
    height: calc(90% - 70px);
}

#sinTexto{
    text-align: center;
    color: #0A3871;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10%;
}

#sinTexto img{
    width: 80%;
}

#sinTexto p{
    font-size: 20px;
    margin: 20px 0;
}

#sinTexto p b{
    font-size: 32px;
    font-weight: bold;
}

/*CSS para Botones*/

.botones{
    background: #0A3871;
    padding: 1% 15%;
    text-align: center;
    height: 10%;
}

.botones img{
    padding: 0 0 0 1em;
}

.botones h2{
    color: #FFFFFF;
    padding: 0 0 1em 0;
    text-align: left;
}

.boton{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #0A3871;
    background: #FFFFFF;
    border: 3px solid #0A3871;
    border-radius: 20px;
    margin: 0 1em;
    cursor: pointer;
    transition: 350ms all;
}

.boton:hover{
    background: #609ED4;
    color: #FFFFFF;
    transform: scale(1.05);
}

@media screen and (max-width:775px){

    header{
        height: 5%;
        padding: 4% 5%;
    }

    .encabezado h2{
        font-size: 5vw;
    }

    .encabezado img{
        height: 100%;
    }

    .principal{
        height: 75%;
    }

    .principal div{
        width: 85%;
        display: block;
        height: 90%;
        margin: 5% 7.5%;
    }

    #cajaResultado{
        display: none;
    }

    
    #sinTexto{
        display: inline-block;
    }
    
    #sinTexto img{
        height: 100%;
        width: auto;
    }

    #sinTexto p{
        font-size: 7px;
        margin: 0px 0;
    }
    
    #sinTexto p b{
        font-size: 3px;
        font-weight: bold;
    }

    .botones{
        padding: 1% 5%;
        width: 90%;
        height: 15%;
    }

    .boton{
        width: 38%;
    }
}

@media screen and (min-width:775px) {
    
    .encabezado h2{
        font-size: 2.25em;
    }

}