html, body{
    font-family: 'Kanit', sans-serif;
    height: 100%;
    background: #0A3871;
}

header{
    background: #FFFFFF;
    padding: 20px;
    height: 5%;
}

main{
    height: 90%;
}

.encabezado{
    width: auto;
    position: relative;
    margin: 0 auto;
    display: inline;
}

.encabezado h2{
    font-size: 48px;
    color: #0A3871;
    font-weight: bold;
    text-align: center;
}

.logo{
    float: left;
    margin: 0 1em;
}

/*CSS para cajas de texto*/

.principal{
    text-align: center;
    padding: 5% 0 4% 0;
    width: 100%;
    height: 65%;
}

.principal div{
    background: #FFFFFF;
    margin:  0 5%;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    height: 100%;
}

textarea{
    font-size: 2em;
    text-align: justify;
    margin: 25px calc(5% - 15px) 25px 5%;
    padding: 0 15px 0 0;
    border: none;
    background-color: transparent;
    resize: none;
    width: 90%;
    height: calc(100% - 50px);
}

textarea:focus{
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #0A3871;
}
textarea:-ms-input-placeholder {
    color: #0A3871;
}

textarea::-webkit-scrollbar{
    width: 6px;
}

textarea::-webkit-scrollbar-thumb{
    background-color: #609ED4;
    outline: none;
    border: none;
    border-radius: 3px;
}

#resultado{
    width: 100%;
    margin: 0;
    height: 100%;
}
#resultado textarea{
    height: calc(90% - 70px);
}

#sinTexto{
    text-align: center;
    color: #0A3871;
    width: fit-content;
    box-sizing: border-box;
    padding: 10%;
}

#sinTexto p{
    font-size: 20px;
    margin: 20px 0;
}

#sinTexto p b{
    font-size: 32px;
    font-weight: bold;
}

/*CSS para Botones*/

.botones{
    background: #0A3871;
    padding: 2.5% 30%;
    text-align: center;
    height: 10%;
}

.botones img{
    padding: 0 0 0 1em;
}

.botones h2{
    color: #FFFFFF;
    padding: 0 0 1em 0;
    text-align: left;
}

.boton{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #0A3871;
    background: #FFFFFF;
    border: 3px solid #0A3871;
    border-radius: 20px;
    margin: 0 1em;
    cursor: pointer;
    transition: 350ms all;
}

.boton:hover{
    background: #609ED4;
    color: #FFFFFF;
    transform: scale(1.05);
}